
<div class="p-5 bg-light min-vh-100">
  <header class="d-flex justify-content-between">
    <h1>{{ !payConfirmed ? 'Wybierz zapach' : 'Zapłać' }}</h1>
    <button (click)="logout()">Logout</button>
  </header>

  <app-breadcrumbs 
  [showPaymentStep]="payConfirmed" (breadcrumbClick)="onBreadcrumbClick($event)"
></app-breadcrumbs>

  @if (!payConfirmed) {
    <div>
      <app-colognes-list (selectedCologne)="setCologneId($event)"></app-colognes-list>
    </div>
    @if (cologneId) {
      <footer class="d-flex justify-content-center align-items-center mt-5">
        <button (click)="confirmPayment()" class="w-50 p-4 rounded-4">
          <span>Zapłać</span>
        </button>
      </footer>
    }
  } @else {
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
      
      <div class="discount-box mb-4 d-flex gap-2 w-75">
        <input 
          type="text"
          placeholder="Kod rabatowy"
          [(ngModel)]="discountCode"
          class="form-control"
        />

        <button (click)="applyDiscount()" class="btn btn-primary">
          Zastosuj
        </button>
      </div>
    
      <div *ngIf="discountPercent > 0" class="text-success mb-3">
        Zastosowano rabat: {{ discountPercent }}%
      </div>
    
      <div *ngIf="qrReady" class="text-center">
        <qrcode
          [qrdata]="qrData"
          [width]="250"
          [margin]="2"
          [errorCorrectionLevel]="'M'">
        </qrcode>
        <p class="caption">Zeskanuj kod, aby zapłacić</p>
        
        <div class="alert alert-info mt-3">
          <p class="mb-1"><small>🛠 Tryb developerski:</small></p>
          <a [href]="qrData" target="_blank" class="btn btn-outline-primary btn-sm">
              📲 Kliknij, by otworzyć "Telefon Klienta"
          </a>
      </div>
      </div>
    </div>
  }
</div>
