<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
  <h1 class="mb-5 text-center">Wybierz sposób płatności</h1>

  @if (finalPrice) {
    
    <div class="mb-4 text-center">
       <h3>Do zapłaty: {{ finalPrice }} PLN</h3>
    </div>

    @if (system === OSType.iOS) {
      <app-apple-pay-button
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity">
      </app-apple-pay-button>

    } @else if (system === OSType.Android) {
      <app-google-pay-button 
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity"
        [fixedPrice]="finalPrice"> </app-google-pay-button>

    } @else {
      <app-apple-pay-button
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity">
      </app-apple-pay-button>
      
      <app-google-pay-button
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity"
        [fixedPrice]="finalPrice">
       </app-google-pay-button>

       <button class="btn btn-warning w-100 py-3 mt-3 shadow fw-bold d-flex align-items-center justify-content-center"
        (click)="payWithP24()">
       <span class="fs-4 me-2">Zapłać szybkim przelewem / BLIK</span>
       <img src="https://pro.przelewy24.pl/img/logo_small_mobile.png" alt="P24" height="30">
       </button>
   }

} @else {
  <div class="text-center">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-2">Ładowanie danych płatności...</p>
  </div>
}
</div>