<div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
  <h1 class="mb-5 text-center">Wybierz sposób płatności</h1>

  @if (finalPrice) {

    @if (system === OSType.iOS) {
      <app-apple-pay-button
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity">
      </app-apple-pay-button>

    } @else if (system === OSType.Android) {
      <app-google-pay-button 
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity">
      </app-google-pay-button>

    } @else {
      <app-apple-pay-button
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity">
      </app-apple-pay-button>
      
      <app-google-pay-button
        [scentId]="scentId" 
        [deviceId]="deviceId"
        [quantity]="quantity" >
      </app-google-pay-button>
   }
} @else {
  <p>Ładowanie danych płatności...</p>
}
</div>